<div class="container">
<% unless user_signed_in? %>
<a href ="/users/sign_in">로그인</a>
<a href ="/users/sign_up">회원가입</a>
<%else%>
<%= current_user.email %>
<a href ="/users/sign_out">로그아웃</a>
<%end%>
    <a href="/home/new">글작성하기</a>
    <div>
    <% @post.each do |p| %>
        <div>
            <p> <%= p.title %>
            <br><%= p.content %>
        </div>
        <a href="/destroy/<%= p.id %>">Delete</a> <br> <a href="/edit/<%= p.id %>">Edit</a></p>
    <%end%>
    </div>
</div>